<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Панель управления: пользователи</title>
  <th:block th:include="fragments/header.html::css"></th:block>
  <th:block th:include="fragments/product.html::css"></th:block>
</head>
<body>
  <th:block th:replace="fragments/header.html::html"></th:block>
  <div class="Products">
    <div th:each="one : ${all}" class="Product" style="cursor: unset;">
      <div class="RegularText" th:text="${one.getName()}"></div>
      <form method="post" th:action="'/user/admin/' + ${one.getId()} + '/role'">
        <select th:name="role" th:disabled="${one == user}" onchange="setTimeout((select)=>{select.form.submit()}, 0, this);">
          <option th:each="role : ${roles}" th:selected="${one.getRole() == role}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
        </select>
      </form>
    </div>
  </div>
</body>
</html>